.Lobster-heading {
    
    font-family:Lobster;
    font-size:50px;
	background-color: Cyan;
	border-top: 10px solid black;
	border-bottom:10px solid black;
	border-right:10px solid black ;
	border-left:10px solid black;
    
}


.a1{
	position: absolute;
	top:03%;
	left:50%;
	width: 30px;
	height: 100px;
	color:black;

}
.a2{
	position: absolute;
	top:03%;
	left:60%;
	width: 30px;
	height: 100px;
	color:black;
}

.a3{
	position: absolute;
	top:03%;
	left:70%;
	width: 30px;
	height: 100px;
	color:black;
}
.a4{
	position: absolute;
	top:03%;
	left:  80%;
	width: 30px;
	height: 100px;
	color:black;
}


.border{ 
    border-top: 8px solid black;
	border-bottom:8px solid black;
	border-right:8px solid black ;
	border-left:8px solid black;
    
}

.button{
   background-color: yellow;
   color:Black;
    }
    .button:hover{
        color:white;
        background-color:black;
    }
    .border2{
    border-top: 3px solid black;
	border-bottom:3px solid black;
	border-right:3px solid black ;
	border-left:3px solid black;
        
    }
    .table,th,tr,td{
        border-top: 1px solid black;
	border-bottom:1px solid black;
	border-right:1px solid black ;
	border-left:1px solid black;
    }

.Border_main{
    border :2px;
}
